.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .home-page h1, .home-page h2 {
    margin: 10px 0;
  }
  
  /* Additional styling for BlogList component */
  .blog-list {
    margin-top: 20px;
  }
  